a {
  text-decoration: none;
  color: gray;
}

html {
  align-items: center;
}

body {
  text-align: center;
}
.btn {
  border: none;
  background-color: lightgray;
  border-radius: 5px;
  height: 25px;
  color: black;
}
.line {
  width: 1200px;
}
#read,
#file {
  margin-bottom: 20px;
}
#info {
  margin-bottom: 10px;
  text-align: right;
  padding-right: 250px;
}
#title p {
  font-size: 30px;
  margin-bottom: 10px;
  margin-top: 10px;
}
#content {
  display: inline-block;
  text-align: left;
  border-radius: 10px;
  margin-bottom: 20px;
  padding-left: 10px;
  border: solid 1px gray;
  width: 800px;
  height: 300px;
}
.read_btn {
  width: 60px;
  height: 30px;
  margin: 3px;
  border-radius: 5px;
  border: 0;
  background: black;
  color: #fff;
  /* font-weight: bold; */
  font-size: 13px;
  cursor: pointer;
}
